<section id="services" class="h-fit bg-accent/20">
	<div class="container mx-auto flex flex-col gap-4 px-4 py-16">
		<div>
			<span class="text-lg uppercase tracking-widest text-black/80 dark:text-white/80"
				>services</span
			>
			<h2>What we do</h2>
		</div>
		<div class="flex justify-between">
			<p class="max-w-[60ch]">
				We specialize in providing custom website development and design services, crafted for small
				businesses. All our website are custom coded by hand to give you the best performance
				possible.
			</p>
			<div class="relative">
				<p class="text-5xl font-bold uppercase">Optimized for</p>
				<div class="relative h-12 w-44 overflow-hidden text-primary">
					<div class="animate-openclose absolute flex flex-col">
						<span class="text-5xl font-bold">SEO</span>
						<span class="text-5xl font-bold">MOBILE</span>
						<span class="text-5xl font-bold">YOU</span>
					</div>
				</div>
			</div>
		</div>
		<h2>Designed and developed for you</h2>
		<p class="max-w-[60ch]">
			Your website build will start with a distinctive design that captures attention, delivers
			information, and sets you apart from your competitors. Share what makes your company
			different, and leave the rest to us.
		</p>
		<a href="#" class="w-fit text-lg text-black/80 underline hover:text-black/40">Learn more</a>
	</div>
</section>
